<section>
	<div class="main-picture">
		<div class="main-image"></div>
		<div class="right-box">
			<h1>
			<center id="box">Monday</center>
			</h1>
			<p>
				<h3>SF Giants</h3>
			</p>
			<p>
				<h4 id="edit">Ciabatta<h4>
			</p>
		</div>
	</div>	
</section>
